/*
# SearchParty - Learning to Search in a Web-Based Classroom
# Author: Ben Bederson - www.cs.umd.edu/~bederson
#         University of Maryland, Human-Computer Interaction Lab - www.cs.umd.edu/hcil
# Date: Originally created July 2011
# License: Apache License 2.0 - http://www.apache.org/licenses/LICENSE-2.0
*/

/*
 bgnd: #EDEDA9
 color1: BD6E46
 color2: 453B2C
 hilite1: 294A49
 hilite2: 82BF93
 */

body {
    margin:5px;
    padding:5px;
    background-color: #EDEDA9;
}

body, td {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.8em;
}

td {
	vertical-align: top;
}

a {
    color: #BD6E46;
}

a:hover {
    background-color: #CDCD89;
}

h1 {
    font-size: 1.2em;
}

#resultsOverview {
    font-style: italic;
}

.header {
    font-weight: bold;
    width: 100%;
}

#header_title {
    font-size: 20px;
}

.title {
    font-size: 1.2em;
    cursor: pointer;
}

.help {
    color: #888;
}

.term {
    cursor: pointer;
}

#searchers {
    display: none;
    position: absolute;
    background: white;
    padding: 5px;
}

.rowTools {
    font-size: 0.6em;
    width: 50px;
    text-align: right;
    vertical-align: top;
    padding-top: 3px;
    padding-right: 5px;
}

.rowHeading {
    font-size: 0.6em;
    width: 75px;
    text-align: right;
    vertical-align: top;
    padding-top: 3px;
    padding-right: 5px;
}

#log {
    display: inline;
}

#newPaper {
    display: inline;
}

.noteTools {
    background-color: #EDEDDA;
}

#editNote {
    position: relative;
}

.public {
    background-color: #EDEDDA;
}

.private {
    background-color: #EDCCCC;
}
#status_header {
	background-color: #FF8888;
}

#side_panel {
	width: 170px;
	/* background-color: #DDDDDD; */
}
#content_area {
	/* background-color: #EEEEEE; */
	vertical-align: top;
	padding: 0px 12px 0px 12px;
}
#side_button_bar {
	border: 1px solid black;
	border-radius: 15px;
	/* background-color: #DDEEDD; */
	padding: 8px;
	text-align: center;
	margin-top: 12px;
}
#side_button_bar button {
	margin: 4px;
	width: 80%;
}


/****************************************
 * TEACHER / TEACHER_LESSON
 */

body, button, input, textarea, select {
	font-size: 12pt;
}
#outer_container {
	width: 100%;
	border: 0px;
	margin: 0px;
	padding: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
}
td {
	vertical-align: top;
}
table.lesson, table.task {
	width: 650px;
	margin-left: 12px;
	margin-right: 12px;
}
div.teacher_pane {
	display: none;
}
div.teacher_pane.selected {
	display: block;
}
button.load_btn {
	background-color: #f0f0f0;
}
button.load_btn.selected {
	background-color: #ffff66;
}
button.load_btn[disabled=true] {
	color: ButtonShadow;
	cursor: text;
}
td.task_title {
	width: 170px;
	padding: 7px;
}
td.class_name {
	width: 380px;
	padding: 7px;
}
td.task_description {
	width: 450px;
	padding: 7px;
}
td.lesson_description {
	width: 650px;
	padding: 7px;
}
td.task_number {
	width: 10px;
}
td.task_title input, td.lesson_title input, td.lesson_password input, td.task_description textarea,
					td.lesson_description textarea, td.class_name input {
	width: 100%;
	text-align: left;
}
h3 {
	margin-bottom: 0px;
}
