/*
# SearchParty - Learning to Search in a Web-Based Classroom
# Author: Ben Bederson - www.cs.umd.edu/~bederson
#         University of Maryland, Human-Computer Interaction Lab - www.cs.umd.edu/hcil
# Date: Originally created July 2011
# License: Apache License 2.0 - http://www.apache.org/licenses/LICENSE-2.0
*/

/*
 bgnd: #EDEDA9
 color1: BD6E46
 color2: 453B2C
 hilite1: 294A49
 hilite2: 82BF93
 */

body {
    margin:5px;
    padding:5px;
    background-color: #EDEDA9;
}

body, td {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.8em;
}

a {
    color: #BD6E46;
}

a:hover {
    background-color: #CDCD89;
}

h1 {
    font-size: 1.2em;
}

#resultsOverview {
    font-style: italic;
}

.header {
    font-weight: bold;
    width: 100%;
}

#header_title {
    font-size: 20px;
}

.title {
    font-size: 1.2em;
    cursor: pointer;
}

.help {
    color: #888;
}

.term {
    cursor: pointer;
}

#searchers {
    display: none;
    position: absolute;
    background: white;
    padding: 5px;
}

.rowTools {
    font-size: 0.6em;
    width: 50px;
    text-align: right;
    vertical-align: top;
    padding-top: 3px;
    padding-right: 5px;
}

.rowHeading {
    font-size: 0.6em;
    width: 75px;
    text-align: right;
    vertical-align: top;
    padding-top: 3px;
    padding-right: 5px;
}

#log {
    display: inline;
}

#newPaper {
    display: inline;
}

.noteTools {
    background-color: #EDEDDA;
}

#editNote {
    position: relative;
}

.public {
    background-color: #EDEDDA;
}

.private {
    background-color: #EDCCCC;
}
#status_header {
	background-color: #FF8888;
}
