{# vim: set sw=2 ts=2 expandtab: #}
<table class='header' width='100%'>
  <tr>
    <td id="header_logo"><a href='/'><img src="/imgs/search_party_logo_250x46.png" height="46" width="250" alt="Search Party Logo" id="logo_img" /></a></td>
    <td align="right" id="header_user_info">
{% if is_logged_in %}
    {{ nickname }}
    <a class="header_link" href='/logout' id="logout_link">Logout</a>
  {% if role == "teacher" %}
    &nbsp; 
    <a class="header_link" href='/teacher_lessons' id="lessons_link">Lessons</a>
  {% endif %}
{% else %}
  <div class="login_text">
  Login as
  <a class="header_link" href='{{ teacher_login_url }}' id="header_teacher_link">teacher</a>
  or
  <a class="header_link" href='/student_login' id="header_student_link">student</a>
  </div>
{% endif %}
    </td>
  </tr>
</table>
