<!--
# SearchParty - Learning to Search in a Web-Based Classroom
# Author: Ben Bederson - www.cs.umd.edu/~bederson
#         University of Maryland, Human-Computer Interaction Lab - www.cs.umd.edu/hcil
# Date: Originally created July 2011
# License: Apache License 2.0 - http://www.apache.org/licenses/LICENSE-2.0
-->

<html>
  <head>
	<link type="text/css" rel="stylesheet" href="/css/main.css" />
	<!-- 	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>  -->
		<script type="text/javascript" src="js/jquery-1.6.1.min.js"></script>
<!--	<script type="text/javascript" src="js/search-party.js"></script>  -->
	<title>Search Party</title>

	<!-- Google Analytics -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-97669-8']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
  </head>
  <body>
	{{ header }}
	<p>
	{% if msg %}<div style="color:red">{{ msg }}<p></div>{% endif %}

	[description of Search Party]

	<div id="log"></div>
	
  </body>
</html>