<!--
# SearchParty - Learning to Search in a Web-Based Classroom
# Author: Ben Bederson - www.cs.umd.edu/~bederson
#         University of Maryland, Human-Computer Interaction Lab - www.cs.umd.edu/hcil
# Date: Originally created July 2011
# License: Apache License 2.0 - http://www.apache.org/licenses/LICENSE-2.0
-->

<html>
  <head>
	<link type="text/css" rel="stylesheet" href="/css/main.css" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
<!--	<script type="text/javascript" src="js/search-party.js"></script>  -->
	<title>Search Party - Student Login</title>
	
	<!-- Google Analytics -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-97669-8']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
  </head>
  <body>
	<script type="text/javascript">
		$(function() {
			$("#teacher_id").focus();
		});
	</script>
	
	{{ header }}
	<p>
	{% if msg %}<div style="color:red">{{ msg }}<p></div>{% endif %}

	<h2>Student login</h2>

	<table style="td">
		<!--
		<tr>
			<td align="right">Teacher ID:</td><td><input type="text" id="teacher_id" class="login_box" name="teacher_id"></td>
		</tr>
		-->

		<tr>
			<td align="right">Student name:</td><td><input type="text" id="student_name" class="login_box" name"student_name"></td>
		</tr>
		<tr>
			<input type="text" id="teacher_id" class="login_box" name="teacher_id" value="1" style="display:none;">
			<td align="right">Lesson code:</td><td><input type="text" id="teacher_password" class="login_box" name="teacher_password"></td>
		</tr>
		<tr>
			<td></td><td><input type="button" id="login_button" value="Login"></td>
		</tr>
	</table>
	<script type="text/javascript">
		$(".login_box").keyup(function(event) {
			if (event.which == 13) {   // Enter key
        		login(event);
			}		
		});
		$('#login_button').click(function(event) {
			login(event);
		});
	
		function login(event) {
			$.post("/student_login_handler", 
				{"teacher_id" : $('#teacher_id').val(), 
				 "teacher_password": $('#teacher_password').val(),
				 "student_name": $('#student_name').val()
				}, 
				login_callback, 'json');
		}
		
		function login_callback(data) {
			terms = data;
			status = terms['status'];
			if (status == 'logged_in') {
				window.location.replace("/student");
			} else if (status == 'logged_out') {
				window.location.replace("/student_login");
			}
		}
	</script>	
  </body>
</html>
