{% extends "task_side_panel_layout.html" %}
{# vim: set sw=2 ts=2 expandtab: #}


{% block head %}
<title>Search Party - Student Browser</title>
<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />
<link rel="stylesheet" href="css/custom-search.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="/css/task_chooser.css"></link>
<style type="text/css">
	.task_description {
	}
</style>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/student.js"></script>
<script type="text/javascript" src="/js/task_chooser.js"></script>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
// <![CDATA[
  var TOKEN = "{{ token }}";
  var g_lessonCode = "{{ lesson.lesson_code }}";
  var g_lastQuery = null;
  var g_studentNickname = "{{ nickname }}";
  {{student_js|safe}}{# defines g_students, g_queryHistory #}
  $(initialize);
// ]]>
</script>
{% endblock %}


{% block top %}
{{ header|safe }}
{% if msg %}<div style="color:red">{{ msg }}</div>{% endif %}
<div id="status_header"></div>
{% endblock %}


{% block side_panel_lower %}

<form action="/task_changed" method="post" id="answer_form">
  <p>
    Response:
    <textarea rows="2" cols="19" name="answer_text" id="answer_text"></textarea>
  </p>

  <p>
    Note:
    <textarea rows="2" cols="19" name="answer_explanation" id="answer_explanation"></textarea>
  </p>
  <div>
    <input type="button" id="answer_button" value="Save" disabled="true"></input>
  </div>
  <div id="answer_msg"></div>
</form>


<h3>Search History</h3>
<div id="query_history">....</div>
{% comment %}
Log:
<div id="log"></div>
{% endcomment %}
{% endblock %}


{% block content_area %}
<div id="search_container">
  <!-- CUSTOM SEARCH -->
  <!-- "cse" is referred to from js/student_custom_search.js -->
  <div id="cse" style="width: 100%; height:600px;">Loading</div>
  <script type="text/javascript" src="/js/student_custom_search.js"></script>
</div>
<div id="result_page_container">
  <table border="0" width="100%">
    <tr>
      <td style="height:33px; vertical-align:middle;">
        <h3 style="margin:0px;"><span id="result_page_title">...</span></h3>
      </td>
      <td style="height:33px; width:200px; vertical-align:middle;">
        <input id="helpful_button" type="button" value="Helpful"></input>
        <input id="not_helpful_button" type="button" value="Not helpful"></input>
      </td>
    </tr>
  </table>
  <iframe id="result_frame" style="width:100%; height:10000px"><iframe>
</div>
{% endblock %}
