<!--
# SearchParty - Learning to Search in a Web-Based Classroom
# Author: Ben Bederson - www.cs.umd.edu/~bederson
#         University of Maryland, Human-Computer Interaction Lab - www.cs.umd.edu/hcil
# Date: Originally created July 2011
# License: Apache License 2.0 - http://www.apache.org/licenses/LICENSE-2.0
-->

<html>
  <head>
	<script type="text/javascript" src="/_ah/channel/jsapi"></script>
	<script type="text/javascript" src="js/jquery-1.6.1.min.js"></script>
	<script type="text/javascript" src="js/student_list.js"></script>
	<link type="text/css" rel="stylesheet" href="/css/main.css" />
	<title>Search Party - Student List</title>

	<!-- Google Analytics -->
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-97669-8']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
  </head>
  <body>
	<script type="text/javascript">
		$(function() {
			openChannel("{{ token }}");

			// Refresh dynamic data on page load
			$.getJSON("/query", "qt=students", updateStudents);
		});
	</script>
	
	{{ header }}
	<p>
	{% if msg %}<div style="color:red">{{ msg }}<p></div>{% endif %}
	{{ teacher_info }}
		
	<p>
	<div id="students"></div>	
  </body>
</html>