{% extends "task_side_panel_layout.html" %}
{# vim: set sw=2 ts=2 expandtab: #}



{% block head %}
  <title>Search Party - Teacher View</title>
  <link rel="stylesheet" type="text/css" href="/css/task_chooser.css"></link>
  <script type="text/javascript" src="/js/common.js"></script>
  <script type="text/javascript" src="/js/stemmer_snowball.js"></script>{# must come before teacher.js #}
  <script type="text/javascript" src="/js/teacher.js"></script>
  <script type="text/javascript" src="/js/task_chooser.js"></script>
  <!--
  <script type="text/javascript" src="/js/graph/raphael-min.js"></script>
  <script type="text/javascript" src="/js/graph/dracula_graffle.js"></script>
  <script type="text/javascript" src="/js/graph/dracula_graph.js"></script>
  -->
{% endblock %}



{% block top %}
  <script type="text/javascript">
  // <![CDATA[
  var TOKEN = "{{ token }}";
  var LESSON_CODE = "{{ lesson.lesson_code }}"
  var START_PANE = window.location.hash.substr(1) || "{{ default_start_pane }}";
  var DEBUG_MODE = {{ debug_mode }};
  {{ students_js|safe }}{# g_students will be defined here, via a long string of JavaScript statements. #}
  $(initialize);        {# set the initialize() function from teacher.js to load when the window loads. #}

  {# Yes, variables declared here with var will be visible to code running in teacher.js.  Checked 10-13-2011. #}
  // ]]>
  </script>
  {{ header|safe }}
  {% if msg %}<div style="color:red">{{ msg }}</div>{% endif %}
{% endblock %}



{% block side_panel_lower %}
  <div id="side_button_bar">
    <button class="load_btn" id="load_students_btn" onclick="loadPane('students')">Students</button><br/>
    <button class="load_btn" id="load_queries_btn" onclick="loadPane('queries')">Queries</button><br/>
    <button class="load_btn" id="load_words_btn" onclick="loadPane('words')">Words</button><br/>
    <button class="load_btn" id="load_links_btn" onclick="loadPane('links')">Links</button><br/>
    {# <button class="load_btn" id="load_common_btn" onclick="loadPane('common')">Students-Words</button><br/> #}
    <button class="load_btn" id="load_answers_btn" onclick="loadPane('answers')">Answers</button><br/>
  </div>
  <p>
    # students logged in: <span id="num_students">__</span>
  </p>
  <p id="data_dump_link_container">
  <script type="text/javascript">
  // <![CDATA[
    var utc_offset_minutes = (new Date()).getTimezoneOffset();
    document.write('<a href="/data_dump?lesson_code={{lesson.lesson_code}}&utc_offset_minutes=' + utc_offset_minutes + '" title="download">Download</a>')
  // ]]>
  </script>
  </p>
{% endblock %}



{% block content_area %}
  <div id="data_display_container">
    <div id="data_display_content"></div>
    <div id="data_display_annotation"></div>
  </div>
  {% comment %}
  <div id="pane_students" class="teacher_pane">
    <h3>Students</h3>
    <div id="students"></div>
  </div>
  <div id="pane_queries" class="teacher_pane">
    <h3>Queries</h3>
    <div id="queries"></div>
  </div>
  <div id="pane_words" class="teacher_pane">
    <h3>Words</h3>
    <div id="words"></div>
  </div>
  <div id="pane_links" class="teacher_pane">
    <h3>Links</h3>
    <div id="links"></div>
  </div>
  <div id="pane_common" class="teacher_pane">
    <h3>Students-Words</h3>
    <div id="graph_vis">
      <div id="canvas"></div>
      <button id="redraw" onclick="redraw();">redraw</button>
    </div>
  </div>
  <div id="pane_answers" class="teacher_pane">
    <h3>Answers</h3>
    <div id="answers"></div>
  </div>
  {% endcomment %}
{% endblock %}



{% block bottom %}
  <div id="dbg_log_container"></div>
  <div id="log"></div>
  <div id="searchers"></div>
{% endblock %}
