{% extends "side_navigation_layout.html" %}
{# vim: set sw=2 ts=2 expandtab: #}

{% block head %}
  <title>Search Party - Teacher Dashboard</title>
  <script type="text/javascript" src="/js/common.js"></script>
  <script type="text/javascript" src="/js/lesson.js?version=0515121619"></script>
  
  <script type="text/javascript">
    // <![CDATA[
    var g_lessons = {{ lessons_json|safe }};
    var g_task_ctrls;
    var g_max_num_tasks = 10;
    
    $(document).ready(function() {
       updateUI();
    });

    function updateUI() {
       var hash = window.location.hash;
       if (hash == CREATE_LESSON) {
          createLessonForm({% if dbg_timestamp %}{{ dbg_timestamp }}{% endif %});
       }
       else {
          createLessonList();
       }
    }  
    
    function changePane(pane) {
        if (pane==VIEW_ALL_LESSONS) pane='';
        window.location='/teacher_dashboard'+pane;
        updateUI();
        return false;
    }
     
    // ]]>
  </script>
{% endblock %}

{% block top %}
<div id="delete_warning" title="Message" style="display:none">
  <p>Are you sure you want to delete all your activities?</p>
</div>
<div id="message_dialog" title="Message" style="display:none">
  <p id="message_text"></p>
</div>
<div class="container_16 cntrmain">
  <div class="grid_16 branding">
      {{ header|safe }}
      <br/>
      {% if msg %}<div class="msg"><p>{{ msg }}</p></div>{% endif %}
      <div class="clear"></div>
  </div><!--- end grid_16 -->
</div><!-- end container_16 -->
{% endblock %}

{% block side_panel %}
  <div id="side_button_bar">
    <button class="load_btn cssbtn" id="create_lesson_btn" onclick="changePane(CREATE_LESSON);">Create Activity</button><br/>
    <button class="load_btn cssbtn" id="stop_lessons_btn" onclick="stopAllLessons(); return false;">Stop All Activities</button><br/>
    <!--
    <button class="load_btn cssbtn" id="download_lessons_btn" onclick="downloadAllLessons(); return false;">Download All Activities</button><br/>
    -->
    <button class="load_btn cssbtn" id="delete_lessons_btn" onclick="deleteAllLessons(); return false;">Delete All Activities</button><br/>
  </div>
{% endblock %}

{% block content_area %}
  <div id="data_display_container">
	<header class="info">
		<h2 id="content_title"></h2>
	</header>
	<div id="error" style="color:red; margin:10px 5px 5px 5px; display:none"></div>
    <div id="content"></div>
  </div>
{% endblock %}

{% block bottom %}
{% endblock %}
