{% extends "base.html" %}
{# vim: set sw=2 ts=2 expandtab: #}

{% block head %} 
  <title>Search Party - Student Login</title>
{% endblock %}



{% block body %} 
  <script type="text/javascript">
    $(function() {
      $("#teacher_id").focus();
    });
  </script>
  
  {{ header|safe }}
  <p>
  {% if msg %}<div style="color:red">{{ msg }}<p></div>{% endif %}

  <h2>Student login</h2>

  <table style="td">
    <tr>
      <td align="right">Student name:</td>
      <td><input type="text" id="student_nickname" value="" class="login_box" name="student_nickname"></td>
    </tr>
    <tr>
      <td align="right">Lesson code:</td>
      <td><input type="text" id="lesson_code_field" value="" class="login_box" name="lesson_code"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="button" id="login_button" value="Login"></td>
    </tr>
  </table>
  <script type="text/javascript">
    $(".login_box").keyup(function(event) {
      if (event.which == 13) {   // Enter key
            login(event);
      }    
    });
    $('#login_button').click(function(event) {
      login(event);
    });
  
    function login(event) {
      $.post("/student_login_handler", 
        {
         "lesson_code": $('#lesson_code_field').val(),
         "student_nickname": $('#student_nickname').val()
        }, 
        login_callback, 'json');
    }
    
    function login_callback(data) {
      terms = data;
      status = terms['status'];
      if (status == 'logged_in') {
        window.location.replace("/student");
      } else if (status == 'logged_out') {
        window.location.replace("/student_login");
      }
    }
  </script>  
{% endblock %}
