{% extends "task_side_panel_layout.html" %}
{# vim: set sw=2 ts=2 noexpandtab: #}



{% block head %}
<title>Search Party - Student Browser</title>
<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />
<link rel="stylesheet" href="css/custom-search.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="/css/task_chooser.css"></link>
<script type="text/javascript" src="/js/student.js"></script>
<script type="text/javascript" src="/js/task_chooser.js"></script>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
// <![CDATA[
	var TOKEN = "{{ token }}";
	var g_lastQuery = null;
	$(initialize);
// ]]>
</script>
{% endblock %}



{% block top %}
{{ header|safe }}
{% if msg %}<div style="color:red">{{ msg }}</div>{% endif %}
<div id="status_header"></div>
{% endblock %}
	


{% block side_panel_lower %}
Search History: 
<span id="history"></span>
<hr/>
Log:
<div id="log"></div>
{% endblock %}



{% block content_area %}
<div>
			<!-- CUSTOM SEARCH -->
			<!-- "cse" is referred to from js/student_custom_search.js -->
			<div id="cse" style="width: 100%; height:600px;">Loading</div>
			<script type="text/javascript" src="/js/student_custom_search.js"></script>
</div>
{% endblock %}
