{% extends "side_navigation_layout.html" %}
{# vim: set sw=2 ts=2 expandtab: #}

{% block side_panel %}
  <select class="task_title" id="task_chooser">
    {% for task in lesson.tasks %}
      <option class="task_title" id="task_title_{{forloop.counter}}">{{forloop.counter}}. {{task.title}}</option>{% endfor %}
  </select>
  <p style="margin-bottom: 0px;">Question:</p>
  {% for task in lesson.tasks %}
    <div style="margin-left:8px" id="task_description_{{forloop.counter}}" class="task_description{% if forloop.first %} selected{% endif %}">{{task.description|urlize}}</div>{% endfor %}
  {% block side_panel_lower %}{% endblock %}
{% endblock %}
