{% extends "task_side_panel_layout.html" %}
{# vim: set sw=2 ts=2 expandtab: #}



{% block head %}
  <title>Search Party - Teacher View</title>
  <link rel="stylesheet" type="text/css" href="/css/teacher.css"></link>
  <link rel="stylesheet" type="text/css" href="/css/task_chooser.css"></link>
  <script type="text/javascript" src="/js/teacher.js"></script>
  <script type="text/javascript" src="/js/task_chooser.js"></script>
  <script type="text/javascript" src="/js/graph/raphael-min.js"></script>
  <script type="text/javascript" src="/js/graph/dracula_graffle.js"></script>
  <script type="text/javascript" src="/js/graph/dracula_graph.js"></script>
{% endblock %}



{% block top %}
  <script type="text/javascript">
  // <![CDATA[
    var TOKEN = "{{ token }}";
    var LESSON_CODE = "{{ lesson_code }}"
    var START_PANE = window.location.hash.substr(1) || "{{ default_start_pane }}";
    {# var g_students = {{ students|safe }}; #}
    {{ students_js|safe }}
    var g_root_words = {{ root_words|safe }};
    {# Yes, variables declared here with var will be visible to code running in teacher.js.  Checked 10-13-2011. #}
    $(initialize);  // set the initialize() function from teacher.js to load when the window loads.
  // ]]>
  </script>
  {{ header|safe }}
  {% if msg %}<div style="color:red">{{ msg }}</div>{% endif %}
{% endblock %}



{% block side_panel_lower %}
  <div id="side_button_bar">
    <button class="load_btn" id="load_students_btn" onclick="loadPane('students')">Students</button><br/>
    <button class="load_btn" id="load_queries_btn" onclick="loadPane('queries')">Queries</button><br/>
    <button class="load_btn" id="load_words_btn" onclick="loadPane('words')">Words</button><br/>
    <button class="load_btn" id="load_links_btn" onclick="loadPane('links')">Links</button><br/>
    <button class="load_btn" id="load_common_btn" onclick="loadPane('common')">Students-Words</button><br/>
    <button class="load_btn" id="load_answers_btn" onclick="loadPane('answers')">Answers</button><br/>
  </div>
  <div>
  Lesson code: {{ lesson_code }}
  </div>
  <div>
    # students: <span id="num_students">__</span>
  </div>
{% endblock %}



{% block content_area %}
  <div id="pane_students" class="teacher_pane">
    <h3>Students</h3>
    <div id="students"></div>
  </div>
  <div id="pane_queries" class="teacher_pane">
    <h3>Queries</h3>
    <div id="searchTerms"></div>
  </div>
  <div id="pane_words" class="teacher_pane">
    <h3>Words</h3>
    <p>This section will contain a tag cloud based on the root words
    from all searches for the currently selected task.</p>
    <p>Example:<br/>
    <img src="/imgs/mockup_tag_cloud.png" alt="tag cloud mockup"></img>
    </p>
  </div>
  <div id="pane_links" class="teacher_pane">
    <h3>Links</h3>
    <div id="links"></div>
  </div>
  <div id="pane_common" class="teacher_pane">
    <h3>Students-Words</h3>
    <div id="graph_vis">
      <div id="canvas"></div>
      <button id="redraw" onclick="redraw();">redraw</button>
    </div>
  </div>
  <div id="pane_answers" class="teacher_pane">
    <h3>Answers</h3>
    <p>This section will list answers entered by students.</p>
  </div>
{% endblock %}



{% block bottom %}
  <div id="log"></div>
  <div id="searchers"></div>
{% endblock %}
