<!-- NOT USED ANYMORE

<table style="margin-left: auto; margin-right: auto;">
  <tr valign='top'>
	 <td style="width:150px">
		Teacher ID: {{ teacher_id }}
	 </td>
	 <td style="width:150px">
{% if password %}
	   Password: {{ password }}
{% else %}
	   Enter password: <input id='password' type='text'></input><input id='password_submit' type='button' value='Ok'></input>
	   <br><span class='help'>Set a new password everytime you log in</span>
	   <script type='text/javascript'>
		 function passwordChanged() {
		   $.post('/teacher_login', {'password': $('#password').val() }, window.location.replace('/teacher'));
		 }

		 $('#password').focus();
		 $('#password').keyup(function(event) {
		   if (event.which == 13) { /* Enter key */
			  passwordChanged();
		   }
		 });
		 $('#password_submit').click(function(event) {
		   passwordChanged();
		 });
	   </script>
	   <br><br>
{% endif %}
	 </td>
	 <td style="width:150px">
		<span id="num_students"></span>
	 </td>
  </tr>
</table>

-->
