/*
# SearchParty - Learning to Search in a Web-Based Classroom
# Author: Ben Bederson - www.cs.umd.edu/~bederson
#         University of Maryland, Human-Computer Interaction Lab - www.cs.umd.edu/hcil
# Date: Originally created July 2011
# License: Apache License 2.0 - http://www.apache.org/licenses/LICENSE-2.0
*/

/*
 bgnd: #EDEDA9
 color1: BD6E46
 color2: 453B2C
 hilite1: 294A49
 hilite2: 82BF93
 */

/*
 * EDEDA9  background color
 * B2B28C  subdued complement
 * 9A9A37  saturated complement
 * F6F6CF  light complement
 * F6F6C1  even lighter complement
 * 6E5F77  small highlight, dark purple, subdued
 * 502567  small highlight, dark purple
 * C0A5CF  small highlight, light purple
 * C4B0CF  small highlight, light purple
*/

body {
	width:971px;
    margin:auto;
    padding:5px;
    background-color: #EDEDA9;
}

body, td {
    font-family: Verdana, Helvetica, sans-serif;
    /* font-size: 0.8em; */
}

td {
	vertical-align: top;
}

a {
    color: #BD6E46;
}

a:hover {
    background-color: #CDCD89;
}

h1 {
    /* font-size: 1.2em; */
}

#resultsOverview {
    font-style: italic;
}

.header {
    font-weight: bold;
    width: 100%;
}

#header_user  { width: 273px;   text-align: right;  }
#header_title { width: 425px;   text-align: center; }
#header_logo  { width: 273px;   text-align: left;   }

.title {
    cursor: pointer;
}

.help {
    color: #888;
}

.term {
    cursor: pointer;
}

#searchers {
    display: none;
    position: absolute;
    background: white;
    padding: 5px;
}

.rowTools {
    width: 50px;
    text-align: right;
    vertical-align: top;
    padding-top: 3px;
    padding-right: 5px;
}

.rowHeading {
    width: 75px;
    text-align: right;
    vertical-align: top;
    padding-top: 3px;
    padding-right: 5px;
}

#log {
    display: inline;
}

#newPaper {
    display: inline;
}

.noteTools {
    background-color: #EDEDDA;
}

#editNote {
    position: relative;
}

.public {
    background-color: #EDEDDA;
}

.private {
    background-color: #EDCCCC;
}
#status_header {
	background-color: #FF8888;
}

#side_panel {
	width: 170px;
}
#content_area {
	vertical-align: top;
	padding: 0px 12px 0px 12px;
}
#side_button_bar {
	border: 1px solid black;
	border-radius: 15px;
	padding: 8px;
	text-align: center;
	margin-top: 12px;
}
#side_button_bar button {
	margin: 4px;
	width: 80%;
}


/****************************************
 * TEACHER / TEACHER_LESSON
 */

#outer_container {
	width: 100%;
	border: 0px;
	margin: 0px;
	padding: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
}
td {
	vertical-align: top;
}
table.lesson, table.task {
	width: 650px;
	margin-left: 12px;
	margin-right: 12px;
}
div.teacher_pane {
	display: none;
}
div.teacher_pane.selected {
	display: block;
}
button.load_btn {
	background-color: #f0f0f0;
}
button.load_btn.selected {
	background-color: #ffff66;
}
button.load_btn[disabled=true] {
	color: ButtonShadow;
	cursor: text;
}
td.task_title {
	width: 170px;
	padding: 7px;
}
td.class_name {
	width: 380px;
	padding: 7px;
}
td.task_description_field {
	width: 450px;
	padding: 7px;
}
td.lesson_description {
	width: 650px;
	padding: 7px;
}
td.task_number {
	width: 10px;
}
td.task_title input, td.lesson_title input, td.lesson_password input, td.task_description_field textarea,
					td.lesson_description textarea, td.class_name input {
	width: 100%;
	text-align: left;
}
h3 {
	margin-bottom: 0px;
}
table.occurrences_table td {
	padding: 4pt;
}

#queries_list {
}

h3 {
}
#lesson_code {
	font-weight: bold;
}
.nothing_done {
	color: #666666;
	border-color: inherit;
}
#student_table, #student_table td, #student_table th {
	border-color: black;
	border-width: 1px;
	border-style: solid;
}
#student_table {
	width: 100%;
	border-collapse: collapse;
}
#student_table th:first-child {
	text-align: left;
}

#student_table th + th {
	text-align: center;
}
#lesson_code, #lesson_cd_lbl {
	text-align: center;
}
#logo_img {
	border: 0px;
}
.logged_out {
	color: #888888;
}
#result_page_container table {
	width: 100%;
	border-width: 0px;
	/* table-layout: fixed; */
}
#result_page_container table td {
	vertical-align: middle;
	height: 33px;
}
#result_page_container table td:first-child > td {
	vertical-align: middle;
	height: 33px;
	width: 200px;
}
#result_page_container table td:first-child h3 {
	margin: 0px;
}
.query_history_links {
	padding-left: 0px;
	list-style-type: none;
}
.query_history_links li.helpful {
	color: #78FF81;
}
.query_history_links li.helpful a {
	/* Underline in different color from text.  Only way to do this is with a border. */
	text-decoration: none;
	border-bottom: 3px solid #78FF81;
}

.query_history_links li.not_helpful {
	color: #FF5781;
}
.query_history_links li.not_helpful a {
	/* Underline in different color from text.  Only way to do this is with a border. */
	text-decoration: none;
	border-bottom: 3px solid #FF5781;
}

#helpful_button,
.query_history_links a.helpful,
.query_history_links a.helpful:visited,
.query_history_links a.helpful:active,
.query_history_links a.helpful:link,
.query_history_links a.helpful:hover
{
	/* background-color: #78FF81; */
	/* text-decoration: line-through; */
	/* color: #999999; */
}

#not_helpful_button,
.query_history_links a.not_helpful,
.query_history_links a.not_helpful:visited,
.query_history_links a.not_helpful:active,
.query_history_links a.not_helpful:link,
.query_history_links a.not_helpful:hover
{
	/* background-color: #FF5781; */
}

div.data_list_container {
	width: 400px;
	background-color: yellow;
}
div.data_list_handle {
	width: 30px;
	background-color: green;
}
div.supplemental_data_container {
	background-color: gray;
	width: 400px;
}

/*
ol.query_history_links {
	width: 200px;
	list-style-type: lower-alpha;
}
ol.query_history_links li {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
*/

/****************************************
 * TEACHER / TEACHER_LESSON
 */

h1            { font-size: 20pt; }
#lesson_code  { font-size: 20pt; }
#header_title { font-size: 18pt; }
#sp_logo      { font-size: 14pt; }
h2            { font-size: 17pt; }
h3            { font-size: 16pt; }
body          { font-size: 14pt; }
button        { font-size: 14pt; }
input         { font-size: 14pt; }
textarea      { font-size: 14pt; }
select        { font-size: 14pt; }
#teacher_email{ font-size: 14pt; }
#lesson_cd_lbl{ font-size: 14pt; }
.st_student   { font-size: 14pt; }
.st_query     { font-size: 14pt; }
.st_link      { font-size: 12pt; }
.login_text   { font-size: 12pt; }
.nothing_done { font-size: 12pt; }
.header_link  { font-size: 12pt; }
